{% extends 'core/base.html' %}

{% block title %} Portafolio {% endblock %}

{% block image-header %} portfolio {% endblock %}

{% block title-header %} 
{% for background in backgrounds %}
    {% if background.name == "portfolio" %}
        <div>          
            <h1 class="display-4 fw-bold">{{background.title}}</h1>
        </div>
        <div>
            <h3 class="fs-2 bg-primary d-inline-block px-2 pb-1">{{background.subtitle}}</h3>
        </div>
    {% endif %}
{% endfor %}

{% endblock %}

{% load static %}

{% block content %}
<!-- Proyecto -->
{% for project in projects %}
    <div class="row project mb-5">  	
        <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid mt-5 border border-2 shadow p-2 mb-3" src="{{ project.image.url }}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
            <h2 class="section-heading title">{{ project.title }}</h2>   
            <p><strong>{{project.created | date:"d/m/Y. H:i"}}</strong> | {{ project.description }}</p>
            
            <a class="btn btn-sm btn-success" href={% url 'detail_project' project.id %}>Ver detalle</a> 
            {% if project.link %}      
                <a class="btn btn-sm btn-primary" href="{{ project.link }}" target='_blank'>Ir a Github</a>
                <a class="btn btn-sm btn-primary" href="{{ project.link_i }}" target='_blank'>Ir a Internet</a>
            {% else %}
                <a class="btn btn-sm btn-warning">En desarrollo...</a>    
            {% endif %}    
        </div>
    </div>
{% endfor %}

{% endblock %}


