{% extends 'core/base.html' %}

{% block title %} Portafolio {% endblock %}

{% block image-header %} portfolio {% endblock %}

{% block title-header %} 
<div>
    <h1 class="display-4 fw-bold">Portafolio</h1>
</div>
<div>
    <h3 class="fs-2">Desarrollos Realizados</h3>
</div>

{% endblock %}

{% load static %}

{% block content %}
<!-- Proyecto -->
{% for project in projects %}
    <div class="row project mb-5">  	
        <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid mt-5 border border-2 shadow p-2" src="{{ project.image.url }}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
            <h2 class="section-heading title">{{ project.title }}</h2>   
            <p><strong>{{project.created | date:"d/m/Y. h:m"}}</strong> | {{ project.description }}</p>
            
            <a class="btn btn-sm btn-success" href={% url 'detail_project' project.id %}>Ver detalle</a> 
            {% if project.link %}      
                <a class="btn btn-sm btn-info" href="{{ project.link }}">Ir al sitio web</a>
            {% else %}
                <a class="btn btn-sm btn-warning">En desarrollo...</a>    
            {% endif %}    
        </div>
    </div>
{% endfor %}

{% endblock %}


