<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diego Mendez | {%block title%} {%endblock%}</title>
    
    {%load static%}
    
    <link href="{%static 'core/css/bootstrap.min.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{%static 'core/css/app.css'%}">
  </head>
  <body>
    
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Diego Mendez</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Inicio</a>
                    <a class="nav-link {% if request.path == '/about-me/' %}active{% endif %}" href="{% url 'about' %}">Sobre mi</a>
                    <a class="nav-link {% if request.path == '/portfolio/' %}active{% endif %}" href="{% url 'portfolio' %}">Portafolio</a>
                    <a class="nav-link {% if request.path == '/contact/' %}active{% endif %}" href="{% url 'contact' %}">Contacto</a>
                </div>
            </div>
        </div>
    </nav>

            {%block content%} {%endblock%}

    <!-- FOOTER -->
    <footer class="footer">
        <div class="footer__redes">
            
            <ul class="footer__lista">
                <li class="footer__item">
                    {% if LINK_GITHUB %}
                    <a class="footer__icono" href={{LINK_GITHUB}} target="blank"><i class="fab fa-github-square fa-1x"></i></a>
                    {% endif %}
                </li>

                <li class="footer__item">
                    {% if LINK_LINKEDIN %}
                    <a class="footer__icono" href={{LINK_LINKEDIN}} target="blank"><i class="fab fa-linkedin-in fa-1x"></i></a>
                    {% endif %}
                </li>

                <li class="footer__item">
                    {% if LINK_TWITTER %}
                    <a class="footer__icono" href={{LINK_TWITTER}} target="blank"><i class="fab fa-twitter fa-1x"></i></a>
                    {% endif %}
                </li>

                <li class="footer__item">
                    {% if LINK_FACEBOOK %}
                    <a class="footer__icono" href={{LINK_FACEBOOK}} target="blank"><i class="fab fa-facebook fa-1x"></i></a>
                    {% endif %}
                </li>
            </ul>

        </div>
        <div class="footer__texto">
            <p>Diego Mendez &copy; Todos los Derechos Reservados - 2022</p>
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>