<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manuel Alonso | {% block title %} {% endblock %}</title>

    {% load static %}

    <link rel="icon" type="image/png" href={% static 'core/img/favicon3.png' %}>
    <link href={% static 'core/css/bootstrap.min.css' %} rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href={% static 'core/css/app.css' %}>
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <!-- <a class="navbar-brand" href='/admin/'><span class="display-6">MAlonsoMA</span></a> -->
            <a class="navbar-brand" href='/admin/'><image src="{% static 'core/img/logotipo33.png' %}"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav mt-3 ms-4">
                    <a class="nav-link {% if request.path == "/" %}active fw-bold{%endif%}" aria-current="page" href={% url 'home' %}>Inicio</a>
                    <a class="nav-link {% if request.path == "/about/" %}active fw-bold{%endif%}" href={% url 'about' %}>Sobre mi</a>
                    <a class="nav-link {% if request.path == "/portfolio/" or "project" in request.path %}active fw-bold{%endif%}" href={% url 'portfolio' %}>Portafolio</a>
                    <a class="nav-link {% if request.path == "/contact/" %}active fw-bold{%endif%}" href={% url 'contact' %}>Contacto</a>
                </div>
            </div>
            {%if request.path == "/portfolio/" %}
            <!--BARRA DE BUSQUEDA-->   
               <form class="ms-2" action="{% url 'search' %}" method="GET">
                    <input type="text" class="form-control2" placeholder="Buscar..." name="search" value = "{{ request.GET.search }}">
                    <button type="submit" class="btn btn-sm btn-success">Buscar</button>
                    <i class="bi bi-search"></i>
                </form>
            {%endif%}
        </div>
    </nav>

    <!-- CABECERA -->
    <div class="{% block image-header %} {% endblock %} imagen-fondo">
        <div class="container">
            <div class="row">
                <div class="col-12 titulos">
                    {% block title-header %} {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <!-- CONTENIDO -->
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-light">
        <div class="container ">
            {% block content %} {% endblock %}
        </div>
    </div>

    <!-- FOOTER -->
    <footer class="footer">
        <div class="footer__redes">
            <ul class="footer__lista">
                {% if LINK_TWITTER %}
                <li class="footer__item">
                    <a class="footer__icono" href={{ LINK_TWITTER }}><i class="bi bi-twitter"></i></a>
                </li>
                {% endif %}

                {% if LINK_DISCORD %}
                <li class="footer__item">
                    <a class="footer__icono" href={{ LINK_DISCORD }}><i class="bi bi-discord"></i></a>
                </li>
                {% endif %}

                {% if LINK_SLACK %}
                <li class="footer__item">
                    <a class="footer__icono" href={{ LINK_SLACK }}><i class="bi bi-slack"></i></a>
                </li>
                {% endif %}

                {% if LINK_FACEBOOK %}
                <li class="footer__item">
                    <a class="footer__icono" href={{ LINK_FACEBOOK }}><i class="bi bi-facebook"></i></a>
                </li>
                {% endif %}

                {% if LINK_INSTAGRAM %}
                <li class="footer__item">
                    <a class="footer__icono" href={{ LINK_INSTAGRAM }}><i class="bi bi-instagram"></i></a>
                </li>
                {% endif %}

                {% if LINK_LINKEDIN %}
                <li class="footer__item">
                    <a class="footer__icono" href={{ LINK_LINKEDIN }}><i class="bi bi-linkedin"></i></a>
                </li>
                {% endif %}
            </ul>
        </div>
        
        <div class="footer__texto">
            <p>Manuel Alonso Martí &copy; Todos los Derechos Reservados - 2024</p>
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>