{% extends 'core/base.html' %}

{% block title %} Inicio {% endblock %}

{% block image-header %} home {% endblock %}

{% block title-header %} 
{% for background in backgrounds %}
    {% if background.name == "home" %}
        <div>          
            <h1 class="display-4 fw-bold">{{background.title}}</h1>
        </div>
        <div>
            <h3 class="fs-2 bg-primary d-inline-block px-2 pb-1">{{background.subtitle}}</h3>
        </div>
    {% endif %}
{% endfor %}
{% endblock %}

{% block content %} 

{% for background in backgrounds %}
    {% if background.name == "home" %}
    <h2 class="fw-lighter fst-italic px-5">{{background.sentence}}</h2>
    {% endif %}
{% endfor %}

{% endblock %}