
/* IMAGENES DE FONDO DE LAS PAGINAS
la ruta antigua era: background-image: url(../img/about-bg.jpeg);
y estaban en static/core/img */

.home {
    background-image: url(../../../media/backgrounds/inicio-bg.jpg);
}

.about {
    background-image: url(../../../media/backgrounds/about-marron-bg.jpg);
}

.portfolio {
    background-image: url(../../../media/backgrounds/portfolio-bg.jpg);
}

.contact {
    background-image: url(../../../media/backgrounds/contact-bg.jpg);
}

.imagen-fondo {
    background-position: center center;
    min-height: 60vh;
    background-attachment:scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-perfil {
    width: 60%;
    border-radius: 50%;
}

.titulos {
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 60vh;
    text-shadow: 3px 6px 4px #888;
}

/* FOOTER */

.footer {
    grid-area: footer;
    background-color: #6d6d6d;
    color: #dadada;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer__texto {
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.footer__lista {
	text-decoration: none;
	display: flex;
	list-style: none;
	justify-content: center;
}

.footer__icono {
	color: #b9b9b9;
	font-size: 30px;
	padding: 0 10px;
	display: block;
}

.footer__icono:hover {
    color: rgb(255, 255, 255);
    font-size: 33px;
    transition: all 0.5s ease-out;
}

@media screen and (max-width: 768px) {
    .footer__texto {
        font-size: 14px;
        flex-wrap: wrap;
        font-weight: normal;
        text-align: center;
    }
}

/* CONOCIMIENTOS - MANEJO DE LOS ICONOS */

.skills__container {
    display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 30px;
    align-items: center;
    justify-content: center;
    padding: 30px 30px;
}

.card__skills {
    margin: 20px 15px;
    padding: 20px 20px;
    max-height: 200px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.skill__logo {
    width: 70px;
    height: auto;
}

.skill__titulo {
    margin-top: 5px;
    font-size: 16px;
    color: #033F62;
}
/* CAPITULARES - GENERICAS Y PARA FIREFOX */
span p:first-of-type::first-letter{
    font-size: 3em;
    line-height: 0.9;
    color: #0507a2;
    font-family: Times;
    float:left;
    padding-top: 3px;
    padding-right: 6px;
}

@-moz-document url-prefix(){
    span p:first-of-type::first-letter{
        font-size: 3em;
        line-height: 3;
        color: #0507a2;
        font-family: Times;
        float:left;
        padding-top: 9px;
        padding-right: 6px;       
    }
}
/* Hacer un poco más grande el texto de la descripción y detalle del proyecto */
span p:first-of-type{
    font-size: 1.1em;
}
/* cambiar el color del código */
code{
    color: #0507a2 !important
}
/* conmfigurar barra búsqueda en 1 línea */
.form-control2{
    display:inline !important;
    max-width:80% !important;
    padding: .375rem .5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #222;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
