{% extends 'core/base.html' %}

{% block title %} Sobre mi {% endblock %}

{% block image-header %} about {% endblock %}

{% block title-header %} 

{% for background in backgrounds %}
    {% if background.name == "about" %}
        <div>          
            <h1 class="display-4 fw-bold">{{background.title}}</h1>
        </div>
        <div>
            <h3 class="fs-2 bg-primary d-inline-block px-2 pb-1">{{background.subtitle}}</h3>
        </div>
    {% endif %}
{% endfor %}

{% endblock %}

{% block content %} 

{% load static %}

<div class="row d-flex">
    <div class="col-5 offset-md-auto">
        <img class="img-fluid img-thumbnail img-circle img-perfil" src={{BASE_DIR}}"/media/backgrounds/foto-perfil.jpg" alt="Foto de perfil">
    </div>
    
    {% for background in backgrounds %}
        {% if background.name == "about" %}
        <div class="col-7">
            <h4>{{background.sentence}}</h4>
        </div>
        {% endif %}
    {% endfor %}

</div> 

<div class="row d-flex pt-5">
    <div class="col-12">
        <h2 class="fw-bold">Formación Vital</h2>
        {% for course in courses %}

        <h3>{{ course.title }}</h3>
        <p><strong>Título obtenido:</strong> {{ course.degree_title }}</p>
        <p><strong>Descripción:</strong> {{ course.description }} </p>

        <hr>
        {% endfor %}

        <br>

        <h2 class="fw-bold">Conocimientos</h2>
        <section class="skills" id="skills">
            <div class="skills__container" id="skills">
                {% for skill in skills %}
                <div class="card__skills">
                    <div class="skill__thumbnail">
                        <img class="skill__logo" src={{ skill.image.url }} alt="html5">
                    </div>
                    <div class="skill__texto">
                        <p class="skill__titulo">{{ skill.title }}</p>
                    </div>
                </div>
                {% endfor %}

            </div>
        </section>
    </section>
    </div>
</div>

{% endblock %}

